.timeline {
    position: relative;
    padding: 0;
    list-style: none
}
.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px
}
.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 20px 20px 0 100px;
    text-align: left
}

.timeline p{
    color: #682A37;
}
.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    margin-left: 0;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #682A37
}
.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px
}
.timeline>li:last-child {
    margin-bottom: 50px
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}
.timeline .timeline-heading h4.subheading {
    text-transform: none
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}